<h1> Course Catalogue </h1>

<% if @courses.size() < 1 %>
	<p>There are no courses available</p>
<% else %>
	<% @courses.each do |course| %>
	<a href="courses/<%= course.id %>"> <%= course.title %> </a>
	<br>
	<% end %>
<% end %>
<br>
<a href="/courses/new">Create a Course!</a>